* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.section-title {
    font-size: 33px;
}

.section-description {
    color: rgb(140, 134, 134);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 350PX 20px;
}

.btn-paimary {
    background-color: rgb(252, 45, 80);
    height: 50px;
    color: white;
    font-size: 22px;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
}

/* header part style is here  */

header {
    margin-top: -100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.953)), url(../images/donation4.jpg);
    background-size: cover;
    height: 630px;
    background-repeat: no-repeat;
}

.banner {
    text-align: center;
    padding-top: 160px;
}

.banner h1 {
    color: white;
    font-size: 55px;
    font-weight: 600;
    padding: 100px 250PX 5px;
}

/* donate today part style start here  */

.donate-today {
    margin-top: 130px;
    text-align: center
}

.donate-today h2 {
    margin-bottom: 12px;
}

.donate-today hr {
    margin: 10px 350px 30px;
}

.donations {
    display: flex;
    justify-content: space-around;
    padding: 30px 340px;
}

.donation h5 {
    display: inline-block;
    color: rgb(140, 140, 141);
    font-size: 20px;
    font-weight: 700;
    padding: 30px 30px;
    background-color: rgb(238, 237, 237);
    border: 0;
    border-radius: 4px;
}

#donation-pink h5 {
    display: inline-block;
    color: rgb(252, 45, 80);
    font-size: 20px;
    font-weight: 700;
    padding: 30px 30px;
    background-color: rgb(255, 227, 227);
    border: 1px solid rgb(252, 45, 80);
    border-radius: 4px;
}

.donate-today input {
    border: 0;
}

.donate-today button {
    margin-right: 20px;
}

/* our donate plan style start here  */

.our-donate-plan {
    margin-top: 130px;
}

.our-donate-plan h2 {
    text-align: center;
    margin-bottom: 17px;
}

.plans {
    display: flex;
    gap: 18px;
    margin: 20px 150px 50px;
}

.plan {
    background-color: aquamarine;
    height: 280px;
    padding: 45px 30px 0px 20px;
}

.plan img {
    margin-bottom: 25px;
}

.plan h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

.plan-description {
    text-align: left;
    color: rgb(140, 134, 134);
    font-size: 16px;
    font-weight: 400;
}

#plan-1 {
    background-color: rgb(241, 241, 255);
}

#plan-2 {
    background-color: rgb(255, 244, 253);
}

#plan-3 {
    background-color: rgb(253, 242, 226);
}

/* needed help part style is here  */

.needed-help {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    padding: 0 250px 0 150px;
}

.needed-help-info {
    padding-right: 70px;
}

.needed-help-info P {
    margin: 20px 0 10px 0;
}

.needed-help-info button {
    margin-top: 30px;
}

.needed-help img {
    width: 400px;
    height: 430px;
}

/* updates part style is here  */

.updates {
    margin-top: 130px;
}

.updates h2 {
    text-align: center;
}

.updates p {
    margin: 10px 0 20px 0;
}

.updates form {
    display: flex;
    justify-content: center;
    background-color: #FFF4D6;
    width: 800px;
    height: 200px;
    margin-left: 20%;
    margin-bottom: 130px;

}

.updates input {
    max-height: 42px;
    margin-top: 75px;
}

#email {
    max-height: 14px;
    margin-top: 75px;
}

.updates input[type="email"] {
    margin: 0;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    padding: 14px 17px;
    width: 20%;
}

.updates input[type="submit"] {
    margin-left: -4px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    padding: 14px 17px;

}